<div class="results-block">
  <%= render 'layouts/flash' %>
</div>
<% if @passwords %>
  <!-- <div class="card card-header results-block"> -->
  <table class="col-md-10 inside-block">
    <tbody>
      <% @passwords.each do |pass| %>
        <div class="">
          <tr class="well">
          <td class="head-text"> <%= pass.name %></td>
          <td class="result-text">
          <%= pass.name %>
          <%= link_to "View #{pass.name}", password_path(pass),class: "btn btn-primary pull-right" %>
          </td>
        </tr>
      <% end %>
      </div>
    </tbody>
  </table>
<% end %> 